

  <header class="masthead bg-dark" id="top">
    <div class="container">
      <div class="intro-text head-pos">
       <div class="intro-lead-in">Welcome To Madafullcars!</div>
      <div class="intro-heading text-uppercase">Trouver vite ce que vous chercher</div>
      <a href="<%=car_index_path(annonce:'location')%>", class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-render">Nos annonce de location</a>
      <a href="<%=car_index_path(annonce:'vente')%>" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-render" href="#">Nos annonces de vente</a>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-render" href="/car/new">Cree une nouvelle annonces</a>
      </div>
    </div>
  </header>

    <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="far fa-calendar-check" class="fa-stack-1x fa-inverse img"></i>
          </span>
          <h4 class="service-heading">Vente</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="far fa-calendar-check" class="fa-stack-1x fa-inverse img"></i>
          </span>
          <h4 class="service-heading">Location</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="far fa-calendar-check" class="fa-stack-1x fa-inverse img"></i>
          </span>
          <h4 class="service-heading">Securité</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>


  <header class="masthead">
    <div class="card md-3 header">
      <div class="row no-gutters">
        <div class="col-md-7  header-fond">
          <div class="card-body">
            <div id="abonnement">
              <div class="intro-lead-in bg-warning"><h3>Abonnements</h3></div>
              <div class="intro-heading text-uppercase card-text">It's Nice To Meet You</div>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag 'audi.jpg', class:"card-img header" %>
        </div>
      </div>
    </div>
  </header>


  <!--/ Section Client premium Star /-->
  
 <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container" id="gold">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Annonces
            </h3>
            <p class="subtitle-a">
              Achetez ou louez ici votre voiture de rêve
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
      <%@car.each do |car| %>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <%if car.pictures.attached?%>
                <%= image_tag (car.pictures[0]), class:"img-fluid"%>
              <%else%>
                <%= image_tag (car.image_url), class:"img-fluid" %>
                <%end%>
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><%=car.mark.name%></h2>
                    <h2 class="w-title"><%=car.price%> Ar</h2>
                    <div class="w-more">
                      <span class="w-ctegory"><%=car.option%></span> / <span class="w-date"><%=car.created_at%></span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="car/<%=car.id%>" class="ion-ios-plus-outline"></a>
                    </div>
                  </div>
                </div>
              </div>
              <p>(<%= car.likes.count %>) <%= (car.likes.count) > 1 ? '👍 Likes' : '👍 Like'%></p>

          </div>

        </div>
         <%end%>
        </div>
      </div>
    </section>


  <header class="masthead">
    <div class="card md-3 header">
      <div class="row no-gutters">
        <div class="col-md-7  header-fond">
          <div class="card-body">
            <div id="nous">
              <div class="intro-lead-in bg-warning"><h3>À propos de nous</h3></div>
              <p class="card-text">Madafullcar est une site internet spécialisé dans la vente et location de voiture à Madagascar. Le site diffuse des annonces postées directement par des vendeurs particuliers et professionnels. Madafull vous permet de retrouver facilement les voitures en fonction de vos critères et exigences.</p>
            </div><br>
             <div>
              <div class="intro-lead-in bg-warning"><h3>Postez vos annonces </h3></div>
              <p class="card-text">Créez facilement vos annonces sur Madafullcar en cliquant sur « poster ». La diffusion des annonces est à partir de 0 Ariary et sans engagement. Vous bénéficiez également d’un espace vendeur qui vous permet d’avoir une page qui regroupe toutes vos véhicules</p>
              <p><a href="" class= "btn btn-primary text-body">Poster</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag 'suv.jpg', class:"card-img header"%>
        </div>
      </div>
    </div>
  </header>
        
  <!-- Team -->
  <section class="bg-light page-section section-position" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Kay Garland</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Larry Parker</h4>
            <p class="text-muted">Lead Marketer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Diana Pertersen</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

