<!-- AFFICHER LES MESSAGE ENVOYER ET RECCUE -->
<br><br><br><br><br><br>
<div>
  <% @messages.each do |message| %>
    <% if message.content %>
      <% user = user_message(message) %>
          <div >
            <strong> <%= user.first_name %> <%= user.last_name %></strong> <%= message.message_time %>
            <p><%= message.content %></p>
          </div>
    <% end %>
  <% end %>
</div>

<!-- POSTER UN MESSAGE A UN UTILISTEUR -->
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>
<% end %>

<div>
  <%= link_to "Supprimer tous les messages", conversation_message_path(@conversation.id,1), method: :delete %>
</div>
