<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="<%=conversations_path%>", >
    <i class="fas fa-arrow-circle-left"></i>
  </a>
	<% if !@messages.empty? %>
  <div>
    <%= link_to "Supprimer tous les messages", conversation_message_path(@conversation.id,1), method: :delete %><br>
  </div>
<% end %>
</nav>

<section>
  <!-- AFFICHER LES MESSAGE ENVOYER ET RECCUE -->
 <div id="messages">
  <%= render partial: "messages/message", message: @message%>
</div>
  <!-- POSTER UN MESSAGE A UN UTILISTEUR -->
<%= form_for [@conversation, @message], html: {class: "ui reply form"},remote: true do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>
<% end %>
</section>