
<!-- Contenedor Principal -->
	<div class="comments-container content-comment">
			<div class="similaire sticky-top bg-dark">
	        <h4> (<%= @comments.count %>) Commentaires </h4>
	    </div>	
		<ul id="comments-list" class="comments-list">
			<li>
				<%@comments.each do |comment|%>
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar">
						<%if comment.user.avatar.attached?%>
                <%= image_tag (comment.user.avatar), class:"img-fluid"%>
              <%else%>
                <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                <%end%>
						
					</div>
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author">  <a href="/users/<%=comment.user.id%>"><%= comment.user.first_name%> <%= comment.user.last_name%></a> </h6>
							<span></span>
							<i class="fa fa-reply" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
							<i class="fa fa-heart"></i>
							<%= comment.answers.count %> réponses
						</div>
						<div class="comment-content">
							<%=comment.content%>
						</div>
					</div>
				</div>

				<!-- Respuestas de los comentarios -->

				<ul class="comments-list reply-list">
					<div class="collapse" id="collapseExample">
					<%comment.answers.each do |answer|%>
					<li>
						<!-- Avatar -->
						<div class="comment-avatar">

							<%if answer.user.avatar.attached?%>
                <%= image_tag (answer.user.avatar), class:"img-fluid"%>
              <%else%>
                <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
                <%end%>
							
						</div>
						<!-- Contenedor del Comentario -->
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name"><a href="http://creaticode.com/blog"><%= answer.user.first_name%> <%= answer.user.last_name%></a></h6>
								<span></span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								 <%=answer.content%>
							</div>
						</div>
						
					</li>
					<% end %>
					<li>
						<div>
			   			<%= form_tag url_for(action: 'create', controller: 'answers', id: comment.id), method: "post", class: 'form-group col-md-6' do %>
			         <%= label_tag 'Répondre' %> </br>
			          <%= text_area_tag 'content','' , class: 'form-control', placeholder: 'Votre reponse !' %></br>
			          <%= submit_tag "Repondre", class: 'btn btn-primary' %>
			        <% end %>
						</div>
					</li>
				</div>
				</ul>
				<% end %>
			</li>
		</ul>


		<div>
		   <%= form_tag url_for(action: 'create', controller: 'comments', id: @car.id), method: "post", class: 'form-group col-md-6' do %>
		         <%= label_tag 'Commenter' %> </br>
		          <%= text_area_tag 'content','' , class: 'form-control', placeholder: 'Votre commentaire !' %></br>
		          <%= submit_tag "Envoyer", class: 'btn btn-primary' %>
		        <% end %>
		</div>
	</div>
