<div>
	<ul id="comments-list" class="comments-list">
		<li>
			<div class="comment-main-level">
				<!-- Avatar -->
				<div class="comment-avatar">
					<%if @comment.user.avatar.attached?%>
              <%= image_tag (@comment.user.avatar), class:"img-fluid"%>
            <%else%>
              <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
              <%end%>
				</div>
				<!-- information sur la commentaire -->
				<div class="comment-box">
					<div class="comment-head">
						<h6 class="comment-name by-author">  <a href="/users/<%=@comment.user.id%>"><%= @comment.user.first_name%> <%= @comment.user.last_name%></a> </h6>
						<span></span>
						<i class="fa fa-reply" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
						<%= @comment.answers.count %> réponses
					</div>
					<div class="comment-content">
						<%=@comment.content%>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
