
<div class="container">
  <div class="col-lg-12 order-lg-2 message-container">
    <ul class="nav nav-tabs" id="menu">
        <li class="nav-item">
            <a href="" data-target="#reception" data-toggle="tab" class="nav-link"><span class="text-font">Boite de réception (<%=@conversations.count%>)</span></a>
        </li>
        <li class="nav-item">
            <a href="" data-target="#users" data-toggle="tab" class="nav-link"><span class="text-font">Tous les utilisateurs</span></a>
        </li>
    </ul>

    <!-- Profil -->

    <div class="tab-content py-4 all-users">
        <div class="tab-pane active" id="reception">
          <div class="col-md-12">
            <div class="item">
              <ol>
                <% @conversations.each do |conversation| %>
                  <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                <% recipient = recipient_user(conversation) %>
                <li class="user-list">
                     <strong> <%=recipient.first_name%> <%=recipient.last_name%></strong>
                      <%= link_to "", conversation_messages_path(conversation), class:"far fa-comment-dots"%>
                      <%= link_to "", conversation_path(conversation.id), method: :delete, class:"far fa-trash-alt" %>
                </li>
                    <% end %>
                  <% end %>
              </ol>
            </div>
          </div>
        </div>

        <!-- message -->
        <div class="tab-pane all-users" id="users">
            <div>
              <div class="ui list">
                <ol>
                  <% @users.each do |user| %>
                    <% if user.id != current_user.id %>
                    <div class="item">
                      <li class="user-list">
                        <strong>
                          <%= link_to "#{user.first_name} #{user.last_name} ", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>  <i class="far fa-comment-dots"></i>
                        </strong>
                      </li>
                    </div>
                    <% end %>
                  <% end %>
                </ol>
              </div>
            </div>  
        </div>
    </div>
  </div>
</div>