  <% if @pre_like %>
	    <p><%= @car.likes.count%> <%= (@car.likes.count) > 1 ? 'likes' : ''%><%= link_to 'ðŸ‘Ž', car_like_path(@car, @pre_like), method: :delete,class:'far fa-thumbs-up', remote: true%></p>
	  <% else %>
	    <p><%= @car.likes.count %> <%= (@car.likes.count) > 1 ? 'likes' : ''%><%= link_to 'ðŸ‘', car_likes_path(@car), method: :post,class:'far fa-thumbs-up' ,remote: true%></p>
  <% end %>