<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
					<a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Historiques de vos annonces</a>
        </li>
      </ul>

            <!-- Profil  de l'utilisateur -->
      <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">
          <h5 class="mb-3">Votre espace personnel</h5>
            <div class="row">
              <div class="col-md-6">
                  <h6>A propos de vous :</h6>
                    <p>
                      Nom: <%=@user.first_name%><br>								
										  Prénom: <%=@user.last_name%><br>
										  Nombre d'annonce(s) effectué(e): <%=@user.cars.count%> Voiture(s)
                    </p>
              </div>
            </div>
        </div>

						<!-- historique des annonces de l'user -->
        <div class="tab-pane" id="messages">
					<div class="alert alert-info alert-dismissable">
						<a class="panel-close close" data-dismiss="alert">×</a> Vous trouverez ici la listes de vos annonces. En vous remercie d'utliser notre service
					</div>
                  <!-- listes des ventes -->
						<hr class= "badge-dark">
							<h6>Vos listes de ventes:</h6>  
							<%if @listvente.length !=nil %>							
							  <ol>
								  <%for i in  0..(@listvente.length - 1)%>
									<li>
										<a href="/car/<%=@ventecar[i].id%>"><%=@ventecar[i].mark.name%>  <%=@ventecar[i].model.name%></a>
                    <%= link_to "modifier", edit_car_path(@ventecar[i]), method: :get, class: "badge badge-pill badge-info"%>
										<br> <strong> Ar</strong> <%=@ventecar[i].price%> <br>
                    <span> Like obtenu: </span>  👍 <%= @ventecar[i].likes.count%>
                  </li>
								  <%end%>
							  </ol>
              <%end%>
                <%if @listvente.length == 0 %>	
								  <p>Vous n'avez pas encore fait d'annonce de vente</p>
							  <%end%>
							     <!-- listes des locations -->
							<hr class= "badge-dark">
							  <h6>Vos listes de locations :</h6>
							    <%if @listlocation.length != nil%>	
							      <ol>
								      <%for i in  0..(@listlocation.length - 1)%>
									    <li>                             
										    <a href="/car/<%=@locationcar[i].id%>"><%=@locationcar[i].mark.name%> <%=@locationcar[i].model.name%></a>
                        <%= link_to "modifier", edit_car_path(@locationcar[i]), method: :get,class: "badge badge-pill badge-info"%>										
										    <br><strong> Ar </strong> <%=@locationcar[i].price%> <br>
                        <span> Like obtenu : </span>  👍 <%= @locationcar[i].likes.count%>           
									    </li>
								      <%end%>
							      </ol>							
                  <%end%>
                    <%if @listlocation.length == 0%>	                 
							        <p>Vous n'avez pas encore fait d'annonce de location</p>
							      <%end%>
							    <hr class= "badge-dark">
          </div>
      </div>
    </div>
            <%# Ajout d'avatar %>
        <div class="col-lg-4 order-lg-1 text-center">
          <%if @user.avatar.attached?%>
        <%= image_tag @user.avatar,class:"card-img", alt: 'avatar' %>
        <%else%>
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
        <%end%>
            <h6 class="mt-2">Ajouter/Modifier la photo de profil</h6>
            <p> 
            <%= form_tag user_avatars_path(@user), multipart: true do %>
            <%= file_field_tag :avatar,accept: 'image/png,image/gif,image/jpeg' %> 
            <%= submit_tag "mettre à jour"%>
            <% end %>
            </p>
        </div>
    </div>
</div>


<div >
    <a href="/users/edit" class="btn btn-outline-info edit1">Editer votre profil</a>
</div>

