<div class="container">
	<div class="password">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
		  	<div class="form-group col-md-12">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Votre email"%>
		 		</div>
		  </div>

		  <div class="actions btn-center">
		    <%= f.submit "Send ",  class:"btn btn-info btn-width" %>
		  </div>
			<% end %>
			<%= render "devise/shared/links" %>
		</div>
</div>