 <h2 class="text-abonnement">Espace abonnement</h2>
<div class="form abonner">
  <% if @gold != nil %>
    <div class="col-sm-4 space">
            <div class="card">
              <!-- <img src="images/car6.jpg" class="card-img-top" alt="..."> -->
              <%=image_tag("car11.jpg",class:"card-img-top", alt: "Example Image")%>
                <div class="card-body color">
                    <h4 class="text-center">Pack Gold</h4>
                    <p class="card-text">Vous beneficiez de notre abonnement Gold. Si vous souhaitez se désabonner cliqué sur :</p>
          			<a href="/golds/<%=@gold.id%>" data-method="delete" class="btn btn-danger">Se désaboner</a>
               </div>
              </div>
          </div>
          
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 space">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <%=image_tag("car12.jpg",class:"card-img-top", alt: "Voiture")%>
              <div class="card-body color">

                <h4 class="text-center" >Pack Gold</h4>
                <p class="card-text">Notre meilheur offre destiné aux entreprises et professionnelles.</p>

                    <%= form_tag golds_path do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                        <label class="amount">
                          <p>99000 Ar</p>
                        </label>
                      </article>
                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="Un mois d'abonnement"
                              data-amount="9900000 ariary"
                              data-locale="auto"></script>
                    <% end %>
              </div>
          </div>
        </div>
                       
        <% if @premium != nil %>
          <div class="col-sm-4 space">
            <div class="card">
              <!-- <img src="images/car6.jpg" class="card-img-top" alt="..."> -->
              <%=image_tag("car15.jpg",class:"card-img-top", alt: "Example Image")%>
                <div class="card-body color">
                    <h4 class="text-center">Pack Premium</h4>
                    <p class="card-text">Vous utilisez notre abonnement Premium.Pour se retirer de cette offre veuillez cliquer sur :</p><br><br>
          			<a href="/premiums/<%=@premium.id%>" data-method="delete" class="btn btn-danger">Se désaboner</a>
               </div>
            </div>
          </div>
        <% else %>
          <div class="col-sm-4 space">
            <div class="card">
              <!-- <img src="images/car6.jpg" class="card-img-top" alt="..."> -->
              <%=image_tag("car14.jpg",class:"card-img-top", alt: "Voiture")%>
                <div class="card-body color">
                    <h4 class="text-center">Pack Prémium</h4>
                    <p class="card-text">Notre offre à destination des particuliers, pour beneficier de plus de visibliter. </p>
                    <%= form_tag premiums_path do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                        <label class="amount">
                          <p>50000 Ar</p>
                        </label>
                      </article>
                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="Un mois d'abonnement"
                              data-amount="5000000 ariary"
                              data-locale="auto"></script>
                    <% end %>
                  </div>
              </div>
          </div>
        <% end %>
      </div>        
    </div>
  <% end %>
</div>