<div class="container">
  <%=form_for @car,url:{action:"create"},html:{class:"form-horizontal"} do |f|%>
    <div class="form-group">
      <%= f.label :mark_id, "Marque" %>
         <%= f.select :mark_id, options_for_select(@mark.collect{ |u| [u.name, u.id] }), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :model_id, "Modèle" %>
         <%= f.select :model_id, options_for_select(@model.collect{ |u| [u.name, u.id] }), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :energy_id, "Energie" %>
         <%= f.select :energy_id, options_for_select(@energy.collect{ |u| [u.name, u.id] }), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :type_id, "Type" %>
         <%= f.select :type_id, options_for_select(@type.collect{ |u| [u.name, u.id] }), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
     <div class="form-group">
      <%= f.label :etat, "Etat" %>
      <%= f.select :etat,  options_for_select(["Bonne etat","Très bonne etat"]), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
     <div class="form-group">
         <%= f.label :mileage, "Kilometrage" %>
         <%=f.text_field :mileage,placeholder: "Kilometrage",class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :number_place, "Nombre de place" %>
         <%=f.number_field :number_place,min:2,max: 64,placeholder: "Nombre de place",class: "form-control"%>
      </div>
      <div class="form-group">
         <%= f.label :year, "Anneé de sortie" %>
         Date de sortie <%= f.select :year, (Time.zone.now.year - 119)..(Time.zone.now.year),class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :transmission, "Transmission" %>
        <%= f.select :transmission,  options_for_select(["Automatique","Manuelle"]), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :climatisation, "Climatisation"%>
        <%= f.select :climatisation,  options_for_select(["Oui","Non"]), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :option, "Option"%>
        <%= f.select :option,  options_for_select(["Vente","Location"]), {}, prompt: 'Choisissez une', class: "form-control" %>
      </div>
      <div class="form-group">
      <div class="form-group">
        <%= f.label :city_id, "Ville" %>
         <%= f.select :city_id, options_for_select(@city.collect{ |u| [u.name, u.id] }), {}, prompt: 'Choisissez une ville', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :telephone, "Telephone" %>
         <%=f.number_field :telephone,placeholder: "Telephone",class: "form-control"%>
      </div>
      <div class="form-group">
         <%= f.label :price, "Prix" %>
         <%=f.number_field :price,placeholder: "Prix",class: "form-control"%>
      </div>
      <div class="form-group">
         <%= f.label :pictures, "Ajoutez vos photos" %>
         <%=f.file_field :pictures, placeholder: "Photo",multiple: true,class: "form-control"%>
      </div>
      <div class="form-group">
         <%= f.label :description, "Description" %>
         <%=f.text_area :description,placeholder: "Description",class: "form-control"%>
      </div>
      <div class="form-group">
          <%= f.submit 'create', class:"btn btn-warning btn-block"%>
      </div>
  <%end%> 
</div>
