

<div class="conteneur">
  <div class="content-car" id="left">

      <div id="carouselExampleFade" class="carousel slide carousel-fade " data-ride="carousel">
        <div class="carousel-inner carousel-display">
          <div class="carousel-item active">
            <%if @car.pictures.attached?%>
                  <%= image_tag (@car.pictures[0]), class:"img-display",alt: 'image car' %>
                <%else%>
                  <%= image_tag (@car.image_url),class:"img-display",alt: 'image car' %> 
            <%end%>
          </div>
       <% for i in 1..(@car.pictures.length-1)%>
          <div class="carousel-item">
            <%if @car.pictures.attached?%>
              <%= image_tag (@car.pictures[i]), class:"img-display",alt: 'image car' %>
            <%else%>
              <%= image_tag (@car.image_url),class:"img-display",alt: 'image car' %> 
            <%end%>
          </div>
      <%end%> 
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  <div class="card-body back-color">
      <h5>A propos de la voiture:</h5>
      <p><strong>Marque : </strong><%=@car.mark.name%></p>
      <p><strong>Model: </strong><%=@car.model.name%></p>   
      <p><strong>Année: </strong><%=@car.year%> </p>
      <p><strong>Voiture en: </strong><%=@car.option%></p>
      <p><strong>Climatisation: </strong><%=@car.climatisation%></p>
      <p><strong>Nombre de place: </strong><%=@car.number_place%></p>
      <p><strong>Etat de la voiture: </strong><%=@car.etat%></p>
      <p><strong>Status de la voiture en location : </strong><%=@car.status%></p>
      <p><strong>Prix: </strong><%=@car.price%></p>
      <p><strong>Kilometrage: </strong><%=@car.mileage%></p>
      <p><strong>Transmission: </strong><%=@car.transmission%></p>
      <p><strong>Type: </strong><%=@car.type.name%></p>
      <p><strong>Energie: </strong><%=@car.energy.name%></p>
      <p><strong>Ville : </strong><%=@car.city.name%></p>
      <p><strong>Description : </strong><%=@car.description%></p>
      <p><strong>Contact rapide : </strong><%=@car.telephone%></p>
						<div>
                  <% if @pre_like %>
                    <p><%= @car.likes.count%> <%= (@car.likes.count) > 1 ? 'likes' : ''%><%= link_to '👎', car_like_path(@car, @pre_like), method: :delete%></p>
                  <% else %>
                    <p><%= @car.likes.count %> <%= (@car.likes.count) > 1 ? 'likes' : ''%><%= link_to '👍', car_likes_path(@car), method: :post%></p>
                  <% end %>
            </div>
      
  </div>
</div>
		

</div>
  <div class="content-car" id="rigth">
      <div class="similaire sticky-top bg-dark">
          <h4 style="color: #fec503;"> Voiture similaire </h4>
      </div>
    <%@cars.each do |car|%>
      <div class="card mb-3 card-w">
        <div class="row no-gutters">
          <div class="col-md-5">
              <%if car.pictures.attached?%>
                <%= image_tag (car.pictures[0]), class:"card-img"%>
              <%else%>
                <%= image_tag (car.image_url), class:"card-img" %>
            <%end%>
          </div>
          <div class="col-md-7">
            <div class="card-body">
            <a href="/car/<%=car.id%>">
              <strong ><%=car.mark.name%></strong><br>
              <strong >Ar <%=car.price%></strong> </a><br>
              <span class="w-ctegory">En <%=car.option%></span> / <span class="w-date"> Ajouté le: <%=car.created_at%></span>
            </div>
          </div>
        </div>
      </div>
    <%end%>

  </div>
</div>



<section id="comment-section">
  <div class="container">
    <%= render "/comments/comment.html.erb"%>
  </div>
</section>






