<!DOCTYPE html>
<html>
  <head>
    <title>Madafullcars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- ====================================================================================== -->
    <div class="DIV DIVISE">
      <!-- Alert pour les erreur de devise (ex: mot de passe trop cours, email invalide )-->
      <div class="alert pour devise est dans ses 2 paragraph">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div>
        <% if user_signed_in? %>
          <a href="<%=user_path(current_user.id)%>">Mon compte</a> <!-- Page show d'un utilisateur -->

          <br><br><br>
          <a href="<%= destroy_user_session_path %>" data-method="delete">Se deconnecter</a>
        <% else %>
          <a href="<%= new_user_registration_path %>">S'inscrire</a>
          <br><br><br>
          <a href="<%= new_user_session_path %>">Se connecter</a>
          <br><br><br>
        <% end %>
      </div>
    </div>
<!-- ====================================================================================== -->
    <hr>
    <%= yield %>
  </body>
</html>
